<section class="section box has-text-centered">
    

    <!--About Section -->
    <p class="title">{{ title }}</p>

    <!--About section Avatar-->
    <img src="./images/about.png" alt="It me avatar" width="500px">

    <!-- Main Text Content -->
    <p>Hi, I am Inderjit Singh. Computer Programming student at Georgian College. I started my post secondary education in Spring 2021.
        Throughout my college journey, I developed my coding skills and was able to combine them with my design skills to make Web, Mobile and Desktop applications that look elegant and performs great.
        I would call myself an organised person and that is reflected in the programs that I write. All my work is well organised, commented and structured.
        <br><br>
        Other than that, I like to take photos, go on long hikes and one thing that people who know me will say is that I drink a lot of Coffee.
        For my first year in Canada, I worked at a restraunt and it was a great learning experience, I finally learned how to work in a team. I am usually quiet introverted but there are days when I go out of my usual way of being and introduce myself to new people.
        I have an entrepreneurial mindset. In the past years, I have ran some dropshipping stores successfully, failed at a lot of other projects.
        But this is what I love doing and I find the greatest joy in trying new ideas and just going at it.
        <br>
    </p>
</section>