<section class="hero">
    <div class="hero-body">
        <div class="tile is-parent">
        <div class="tile has-text-right contains-content" id="opening">
    <p class="title">Hi. I am Inder</p>
    <p class="subtitle">A computer programming student at Georgian College</p></div>
    <div class="tile">
        <img src="/images/avatar.png" alt="inder parihar avatar" width="500px" id="avatar">
    </div>
        </div>
    </div>
</section>

<section class="tile is-parent has-text-centered">
    <div class="tile is-4 contains-content">
        <p class="title">Solution Oriented</p>
        <p class="has-text-left">I won't lie by saying that I am a problem solver. I am still a student who is learning skills and new technologies. But what I would say is that I don't run away from problems. I find problems exciting and use them as a means to learn and improve my skills. This attitude towards problems has helped me learned so much as I would have had otherwise.</p>
    </div>
    <div class="tile is-4  contains-content">
        <p class="title">Team Player</p>
        <p class="has-text-left">For a long time, I tried doing everything on my own. But after my first job at a restraunt, I learned that having team mates is a great thing. I learned to communicate, ask for help, give help and do my own share of work. Now, I can even say that I prefer working in teams rather than doing it alone. </p>
    </div>
    <div class="tile is-4  contains-content">
        <p class="title">Well rounded</p>
        <p class="has-text-left">Throughout the duration of my College life, I was able to learn various technologies. From programming in low-level languages such as C to high-level languages such as Phyton. I have a good understanding of Object Oriented programming concepts and can apply those in various languages that support them. I was also able to learn SQL and No-SQL database systems. Which means I can work in any side of development.</p>
    </div>
</section>


<section class="section has-text-centered">
<p class="title">Interested in my work?</p>
<button><a href="/projects">Check out some of my projects.</a></button>
</section>